body{
    background-color: #FAF8EF;
}
li{
    list-style:none;
}
.container{
    margin:auto;
    padding:0 10px;
    max-width:768px;
}
h1{
    font-family: Microsoft Yahei,tahoma,sans-serif;
}
.score{
    float:right;
    margin-bottom:10px;
}
.score ul{
    margin:0
}
.score span{
    font-weight: bold;
}
.menu{
    margin-bottom:10px;
}
.menu button{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.menu button:hover{
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
.screen{
    clear:both;
    padding:5px;
    border-radius:4px;
    background:#4D4D4D;
}
.row{
    overflow: hidden;
}
.square{
    float:left;
    margin:5px;
    border-radius: 3px;
    background-color: rgb(230, 171, 94);
    cursor:pointer;
}
.square-active{
    background-color: rgb(92, 144, 255);
}
footer{
    text-align:center;
}
