body{
    background-color: #FAF8EF;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: auto;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}
.btn-primary{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.btn-success:hover, .btn-success:focus, .btn-success:active{
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}
.container{
    margin:auto;
    padding:0 10px;
    max-width:600px;
}
h1{
    font-family: Microsoft Yahei,tahoma,sans-serif;
}
.share{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('img/share.png');
    background-size: 100% 100%;
    text-indent: -999px;
    vertical-align: middle;
}
.score{
    float:right;
    margin-bottom:10px;
}
.score ul{
    margin:0
}
.score span{
    font-weight: bold;
}
.menu{
    margin-bottom:10px;
}
.menu a{
    margin-bottom: 5px;
}
.screen{
    clear:both;
    padding:3px;
    border-radius:4px;
    background:#4D4D4D;
}
.row{
    overflow: hidden;
}
.square{
    float:left;
    margin:3px;
    border-radius: 3px;
    background-color: rgb(230, 171, 94);
}
.square-active{
    background-color: rgb(92, 144, 255);
}
footer{
    text-align:center;
}
.pop-wrap{
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    z-index: 1000;
    background: #000;
    opacity: 0.5;
}
.pop{   
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    z-index: 10000;
}
.pop-content{
    margin:20% auto 0;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}
.pop header{
    padding: 0 10px;
    border-bottom: 1px solid #e5e5e5;
}
.pop-body{
    padding:15px;
}
.pop footer{
    padding: 10px 10px 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
